body {
	background: rgb(225,225,225);
}

header#header {
	background: #333;
	color: #fff;
}

.col-md-6:last-child {
	position: relative;
	top: .35em;
}

/*---------------------------------------------------*/

.btn {
	border: 0;
	text-align: left;
}

@media (max-width: 768px) {
	.col-md-6:last-child {
		position: static;
	}

	.h3 {
		padding-top: .25em;
	}

	.text-right, .text-left {
		text-align: center!important;
	}
}